/* General Styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1b1b1b;
  color: #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: hidden; /* Hide vertical scrollbar */
}

/* Typewriter Animation */
.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 20px auto;
  letter-spacing: 0.0em;
  animation: typing 1.8s steps(40, end), blink-caret .75s step-end infinite;
  max-width: 100%;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #eaeaea; }
}

/* Navigation Bar */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  padding: 5px 0; /* Reduced padding */
}
nav a {
  color: #eaeaea;
  text-decoration: none;
  margin: 0 10px; /* Reduced margin */
  font-size: 1rem; /* Reduced font size */
}
nav a:hover {
  text-decoration: underline;
}

/* Main Content */
main {
  text-align: center;
  max-width: 90%; /* Increased max-width */
  margin: 0 auto;
  padding-top: 60px; /* Added padding to accommodate fixed nav */
  padding-bottom: 10px; /* Reduced padding */
}
h1 {
  font-size: 3rem; /* Reduced font size */
  font-weight: bold;
  margin: 10px 0; /* Reduced margin */
  word-wrap: break-word; /* Added property */
  white-space: normal; /* Added property */
}
p {
  font-size: 1rem; /* Reduced font size */
  margin: 5px 0; /* Reduced margin */
}
a.resume-link {
  color: #9bd5ff;
  text-decoration: none;
}
a.resume-link:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
footer a {
  color: #eaeaea;
  margin: 0 5px; /* Reduced margin */
  font-size: 1rem; /* Reduced font size */
}
footer a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 800px) {
  body {
    justify-content: center;
    align-items: center;
    padding-top: 60px; /* Ensure content starts below fixed nav */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: hidden; /* Hide vertical scrollbar */
  }
  main {
    width: 100%;
    padding: 0 20px; /* Add padding to avoid text touching the edges */
    margin-top: -80px; /* Move content higher */
  }
  h1 {
    font-size: 1.9rem; /* Adjust font size for readability */
    word-wrap: break-word; /* Added property */
    white-space: normal; /* Added property */
  }
  p {
    font-size: 1rem;
  }
  nav a {
    font-size: 1rem;
  }
  footer a {
    font-size: 1rem;
  }
  .typewriter {
    font-size: 1.9rem; /* Adjust font size for smaller screens */
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1.8s steps(30, end), blink-caret .75s step-end infinite;
  }
}
